<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Learn To Fly</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script type="text/javascript" src="/static/js/latin_proverbs.js"></script>
</head>
<body>
{% load staticfiles %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mr-auto">
    <a class="navbar-brand" href="{% url 'admin:index' %}">
        <img src="{% static 'images/dj.png' %}" width="30" height="30" alt="brand">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {% if active == 'home' %}
                <a class="nav-item nav-link active" href="{% url 'index' %}">Home</a>
            {% else %}
                <a class="nav-item nav-link" href="{% url 'index' %}">Home</a>
            {% endif %}
            {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="#">Logged: {{ user.username }}</a>
                <a class="nav-item nav-link" href="{% url 'main_page:user_logout' %}">Logout</a>
                <a class="nav-item nav-link" href="{% url 'main_page:courses_list' %}">Courses List</a>
            {% else %}
                {% if active == 'register' %}
                    <a class="nav-item nav-link active" href="{% url 'main_page:user_register' %}">Register</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'main_page:user_register' %}">Register</a>
                {% endif %}
                {% if active == 'login' %}
                    <a class="nav-item nav-link active" href="{% url 'main_page:user_login' %}">Login</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'main_page:user_login' %}">Login</a>
                {% endif %}
            {% endif %}
        </div>
            <a class="navbar-text mx-auto phrase">Phrase of the day</a>
    </div>
    <span class="navbar-text right">Django Demo Site - Otus's Web Developer 2019 course</span>
</nav>

<div class="jumbotron jumbotron-fluid">
    {% block body_block %}
    {% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/js/base_navbar_animation.js"></script>
</body>
</html>