{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

    <div class="alert alert-dark text-center" role="alert">
        <h2>Detailed Course Description</h2>
    </div>

    <div class="container col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        <h3>Title: <em>{{ course.title }}</em></h3>
        <h3>Price: {{ course.price }}$ </h3>
        <h2>Summary:</h2>
        <h5>{{ course.description|safe }} </h5>

        {% if lectures %}
            <h2>Lectures:</h2>
            {% for lecture in lectures %}
                <li># {{ lecture.number_in_course }}  <em>{{ lecture.title }}</em>
            {% endfor %}
        {% else %}
            <li><em>No lectures added yet!</em>
        {% endif %}
        {% if registrations %}
            <h2>Registered: {{ registrations }} students</h2>
        {% else %}
            <li><em>No lectures added yet!</em>
        {% endif %}
        {% if scheduled %}
            <h2>Course will start: {{ scheduled }}</h2>
            {% if student %}
                <a class="nav-item nav-link"
                   href="{% url 'main_page:course_register' course.id student.id %}"><h2>Register to this course</h2>
                </a>
            {% endif %}
        {% else %}
            <div><em>Course is not scheduled yet!</em></div>
        {% endif %}
    </div>
{% endblock %}
