{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

    {% if student_registered %}
        <div class="alert alert-success text-center" role="alert">
            You are registered for this course!
        </div>
    {% elif errors %}
        <div class="alert alert-danger text-center" role="alert">
            {{ errors }}
        </div>
    {% else %}
        <div class="alert alert-dark text-center" role="alert">
            Course Registration page
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    {{ course_registration_form.course }}
                </div>
                <div class="col-6">
                    {{ course_registration_form.student }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    {% endif %}

{% endblock %}
