{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

    {% if errors %}
        <div class="alert alert-danger text-center" role="alert">
            {{ errors }}
        </div>
    {% else %}
        <div class="alert alert-warning text-center" role="alert">
            Login page
        </div>
        <form class="form-inline justify-content-center" action="{% url 'main_page:user_login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group mb-2">
                <label for="username">Username:&nbsp</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for=password">Password:&nbsp</label>
                <input type="password" class="form-control" id=password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% endif %}

{% endblock %}
